/*** Mixins & Default Styles ***/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Kanit', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
i {
    margin-right: 10px;
}
h1 {
    font-family: 'Kanit', sans-serif;
    color: #9433f0;
}

span {
    font-family: 'Kanit', sans-serif;
    font-weight: bolder;
    color: #ff6801 ;
}

.container {
    /*background-color: #b1beff;*/
}
.banner {
    min-height: 600px;
}
.banner .container {
    max-height: 620px;
    /*background-color: #FDBF9C;*/
    background-image: url("../imgs/banner.png");
    background-size: 100% ;
    background-repeat: no-repeat ;
    border-radius: 12px;
}
.banner p{
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.27;
    margin: 12px;
    margin-left: 24px;
    color: #9433f0;
}
.banner h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 820;
    text-align: center;
    color: #9433f0;
}
.banner img {
    height: 100%;
    width: 100%;
    margin-top: 78px;
}
.banner .slime {
    font-family: 'Kanit', sans-serif;
    padding: 12px;
    margin-left: 25%;
}

/*objective section*/
.objective {
    min-height: 240px;
    margin-top: 108px ;
    margin-left: 12px ;
}
.objective .left-image img{
    margin-top: 5px;
    position: absolute;
    width: 100%;
    height: 108%;
    margin-top: -16px;
    margin-left: -16px;
}
.objective .right-explain {
    position: relative;
    padding: 12px;
    margin-top: -128px ;
    margin-left: 36px;
}

.review {
    min-height: 280px;
    background-color: #8FA1FF;
    border-radius: 12px;
    font-family: 'Kanit', sans-serif;
}
.review h2{
    color: #fff;
}
.review p{
    color: #fff;
}
.review img {
    height: 100px;
    width: 100px;
}

.character {
    font-family: 'Kanit', sans-serif;
    min-height: 900px;
    margin-top: -224px;
}
/*.list_jigsaw ul {*/
/*    list-style-image: url("../imgs/icons/icon_jigsaw.png");*/
/*}*/
.list_jigsaw ul li {
    list-style: none;
    padding: 4px;
    padding-left: 50px;
    position: relative;

    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}
.list_jigsaw ul li:before {
    content: "";
    position: absolute;
    margin-top: 0px;
    margin-left: -52px;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-size: contain;
    background-image: url("../imgs/icons/icon_jigsaw.png");
}